.experiencias {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 90%;
}
.experiencias > :not(:last-child){
    margin-bottom: 2rem;
}
.experiencia__imagen {
    background-color: var(--white);
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experiencia__imagen > img {
    max-height: 70%;
    max-width: 90%;
}
@media screen and (min-width: 768px) {
    .experiencias {
        flex-direction: row;
        width: 100%;
        gap: 2rem;
    }
    .experiencia {
        width: calc(33.333% - 2rem);
    }
}