.media__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.media__enlace {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 500;
}
.media__enlace:after {
    display: inline-block;
    content: url(../img/arrow.svg);
}
@media screen and (min-width: 992px) {
    .media__lista {
        justify-content: flex-start;
        gap: 3rem;
    }
}