.proyectos {
    flex-direction: column;
    align-items: center;
    color: var(--black);
}
.proyectos__titulo {
    font-size: 2.3rem;
    text-align: center;
}
.proyectos__items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 90%;
}
.proyectos__items > :not(:last-child) {
    margin-bottom: 3rem;
}
.proyecto > :not(:last-child) {
    margin-bottom: 1.5rem;
}
.proyecto__imagen {
    height: 15rem;
}
.proyecto__imagen > img {
    width: 100%;
    height: 15rem;
}