.topo {
    margin-bottom: 3rem;
}
.topo__titulo {
    font-size: 2.3rem;
}
.topo__contenido {
text-align: justify;
}

@media screen and (min-width: 992px) {
    .topo__titulo {
        font-size: 3.45rem;
    }
}